#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 400px;
}
